<!DOCTYPE html>
<html>

<body>

<h2 class="courseHeader">{{name}}</h2>


<div id="added">
{{#if listExists}}
    <ul>
        {{#each milestone}}
            <li>{{this.Name}}</li>
        {{/each}}
    </ul>
{{/if}}
</div>



<form method="post" id="add">
    <label for="MileStone">Milestone:</label><br>
    <input type="text" id="MileStone" name ="MileStone"><br>

    <select class="selectMenu" id="Finished" name="Finished">
        <option value="true">Completed</option>
        <option value="false" >Uncompleted</option>

    </select>

    <input type="submit" value="Add">

</form>

<h2 class="courseSubtitle" style="margin-left: 27em">{{error}}</h2>


<div class="btnContainer">
    <button class="courseBtns" id="View">View Coursework</button>

    <a class="courseBtns" href="/coursework">View All Coursework</a>

    <a class="courseBtns" href="/coursework/modify/{{id}}">Modify Coursework</a>
</div>


<Div id="newCoursework" style="display: none">{{newCoursework}}</Div>





</body>

<script src="/javascripts/milestone.js"></script>

</html>