<body>
<form id="courseworkForm" method="post">
    <label for="Title">Title:</label>
    <input type="text" id="Title" name ="Title" value="{{Title}}"><br>

    <label for="Module">Module:  </label>
    <input type="text" id="Module" name="Module" value="{{Module}}">

    <label for="DueDate">DueDate (DD/MM/YY):  </label>
    <input type="date" id="DueDate" name="DueDate" value="{{DueDate}}">

    <label for="CompletionDate">CompletionDate (DD/MM/YY):  </label>
    <input type="date" id="CompletionDate" name="CompletionDate" value="{{CompletionDate}}">
    <br>


    {{#if listExists}}
        Milestones:
        <ul id="milestones" name="milestones">
            {{#each milestone}}
                <label for="Milestone">Milestone:  </label>
                <label class="courseSubtitle" style="display: inline-flex; padding-right: 4em; font-size:24px;" id="{{this._id}}">{{this.Name}}</label>

                <a class="courseModify" href="modifymile/{{this._id}}">Modify</a>
                <a class="courseModify" href="deletemile/{{this._id}}">Delete</a>
                <br>
            {{/each}}
        </ul>
    {{/if}}

    <br>
    <a style="margin-left: 17em" class="courseSubtitle" href="/coursework/addmilestone/{{courseId}}">Add Additional Milestones</a> <br>
    <input class="courseBtns" type="submit" value="Update">
    <br>
</form>
<h2 class="courseSubtitle" style="margin-left: 27em">{{error}}</h2>
</body>