
<script src="/javascripts/reload.js"></script>
<body>
<ul class="courseworkList">
    <li>Coursework Title: {{Title}}</li>
    <li>Module: {{Module}}</li>
    <li>Author: {{Author}}
    <li>Due Date: {{DueDate}}</li>
    <li>Completion Date: {{CompletionDate}}</li>
    <br>
    <li>Milestones:</li>
</ul>
<br>



{{#if listExists}}
    <ul class="milestoneList">
        {{#each milestone}}
            <li>Milestone: {{this.Name}}</li>
            <li class="{{this.Finished}}"></li><br>
        {{/each}}
    </ul>
{{/if}}

<div class="btnContainer">
    <button class="courseBtns" id="share" style="display: {{share}}">Share</button>
    <button class="courseBtns" id="private" style="display: {{deshare}}">Make Private</button></div>

<div id="shareid" style="display: none">{{coursework}}</div>
<div id="privateid" style="display: none">{{coursework}}</div>

<br>
<h2 class="shareLink" id="link" style="margin-left: 35em"></h2>
<!--<label class="shareLink" id="link"></label>-->

</body>

<script src="/javascripts/custom.js"></script>
<script src="/javascripts/JQuery.js"></script>