
<script src="/javascripts/reload.js"></script>
<body>
<div id="module">{{Module}}</div> {{Title}} {{DueDate}} {{Author}} {{CompletionDate}}



{{#if listExists}}
    <ul>
        {{#each milestone}}
            <li>{{this.Name}}</li>
        {{/each}}
    </ul>
{{/if}}


<button id="share" style="display: {{share}}">Share</button>
<button id="private" style="display: {{deshare}}">Make Private</button>

<div id="shareid" style="display: none">{{coursework}}</div>
<div id="privateid" style="display: none">{{coursework}}</div>

<label id="link"></label>
</body>

<script src="/javascripts/custom.js"></script>
<script src="/javascripts/JQuery.js"></script>